.MainForm{
  padding-left: 25rem;
  padding-right: 25rem;
  /* border: 1px solid red; */
    background-color: #F5F6FB;
    
 
    
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  /* Make input fields display one below the other */
  .MainForm{
    padding: 0.5rem;
  }
}