.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  
  .input-wrapper input {
    height: 30px;
    width: 100%;
    
  }

  @media screen and (max-width: 768px) {
    .input-container {
      flex-direction: column;
    }
  
    .input-container input {
      width: 100%;
    }
  }

.select-option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}  

.select-option select {
  height: 30px;
} 

.select-dropdown {
  max-height: 50px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling when options exceed the height */
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}
